In [1]:
#Exp no:3
#aim:Basics of Data frame

In [2]:
# Name:Yash mohokar
# Roll no:38
# Sec:c
# Subject:ET-1
# Date:

In [3]:
import pandas as pd

In [4]:
Name=["Yash","Aadesh","Vedant","Shivam"]
Name

['Yash', 'Aadesh', 'Vedant', 'Shivam']

In [5]:
Roll_list=pd.Series(Name,index=[1,2,3,4])
print(Roll_list)

1      Yash
2    Aadesh
3    Vedant
4    Shivam
dtype: object

Creating Data Frame

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame([[10,12,14,16],[11,18,15,21],[12,13,14,15]],
columns= ["BI","DBMS","DSS","CAO"])

In [8]:
df

   BI  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15

In [9]:
df.shape

(3, 4)

In [10]:
df.size

12

In [11]:
df.ndim

2

Adding Record(row) to the data frame

In [15]:
import pandas as pd

In [16]:
df2=pd.DataFrame([[5,6,7,8]],
columns= ["BI","DBMS","DSS","CAO"])

In [17]:
df3 = pd.concat([df, df2], ignore_index=True)

In [18]:
df3

   BI  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

Adding Attribute (columns) name DM

In [19]:
df3["DM"]=[12,15,16,14]

In [20]:
df3

   BI  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   21  15
2  12    13   14   15  16
3   5     6    7    8  14

Deleting Record From df3 dataframe

In [22]:
df4=df3.drop(index=[1])

In [23]:
df4

   BI  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  12    13   14   15  16
3   5     6    7    8  14

Deleting Attribute (columns) from df3 dataframe

In [24]:
df5=df3.drop(columns=["DM"])

In [25]:
df5

   BI  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [26]:
print("Mean of DSS:", df5["DSS"].mean())

Mean of DSS: 12.5

In [27]:
print("Median of DSS:", df5["DSS"].median())

Median of DSS: 14.0

In [28]:
print("Max of DSS:", df5["DSS"].max())

Max of DSS: 15